////// Variables //////
$color-01: #10c3e7;
$color-02: #aaeaaa;
$color-03: #F69CD2;
$color-04: #EFF19B;
$color-bg: #202026;
$color-fg: #ECF5F6;
$game-width: 640px;
$game-height: 480px;
// Breakpoints
$media-min: $game-width + 20px;
$media-tablet: 768px;
@if $media-min > 768px {
  $media-tablet: $media-min; 
}
$media-laptop: 1200px;
$media-max: 1400px;

html {
  font-size: 16px;
}
body {
    background-color: $color-fg;
    color: $color-bg;
}

////// Page Grids //////
.page_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
      "header header header header"
      "game   game   game   game"
      "footer footer footer footer"; 
  @media screen and (min-width: $media-tablet) and (max-width: $media-laptop) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
      "header header header header header header"
      "game   game   game   game   game   game"
      "footer footer footer footer footer footer"; 
  }
  @media screen and (min-width: $media-laptop + 1) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
      "header header header header header header header header header  header  header  header"
      "game   game   game   game   game   game   game   game   gamelib gamelib gamelib gamelib"
      "footer footer footer footer footer footer footer footer footer  footer  footer  footer"; 
  }
}
header {
  grid-area: header;
}
.logo {
  margin: 10px;
}
.viz_stripes {
  width: 50px;
  height: 100vh;
  color: $color-01;
  background-color: currentColor;
  position: fixed;
  top: 0;
  right: 300px;
  z-index: -1;
  box-shadow: 
    100px 0 0 0 $color-02,
    200px 0 0 0 $color-03;
}

.game {
  grid-area: game;
}
.gamelib {
  grid-area: gamelib;
}

#game_container {
  background-color: pink;
  border: 1 solid $color-bg;
  border-radius: 20px;
  width: $game-width + 20px;
  height: $game-height +20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto;
}
aside {

}

footer {
  grid-area: footer;
}